.App {
  width: 1238px;
  margin: 0 auto;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1200px) {
  .App {
    width: 800px;
  }
}

@media screen and (max-width: 1000px) {
  .App {
    width: 700px;
  }
}
