.App {
  width: 1238px;
  margin: 0 auto;
  margin-bottom: 5vh;
}

@media screen and (max-width: 1300px) {
  .App {
    width: 950px;
  }
}

@media screen and (max-width: 980px) {
  .App {
    width: 100vw;
    padding: 0 15px;
  }
}
