.card {
  height: 444px;
  width: 386px;
  padding: 16px;
  line-height: 160%;

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }

  .image {
    padding: 0;
    width: 354px;
    height: 330px;
    margin-bottom: 24px;

    img {
      object-fit: cover;
      height: 330px;
    }
  }
}


