.prod-img {
  width: 610px;
  height: 511px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.info {
  padding-left: 96px;
  max-width: 400px;
}
