@use '../../fonts' as F;

@mixin flex-element($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}


nav {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 100;
  ul {
    list-style: none;
  }
}

.navbar {
  position: relative;
  @include flex-element;
  height: 80px;
  width: 1238px;
  margin: 0 auto;
}

.link-group {
  position: absolute;
  display: flex;
  height: 100%;

  a {
    align-items: center;
    text-decoration: none;
    padding: 0 16px;
    padding-top: 30px;
    text-transform: uppercase;
    font-family: F.$regular;
    color: var(--black);

    &.active {
      font-family: F.$semibold;
      border-bottom: 4px solid var(--primary);
      color: var(--primary);
    }

    &:hover {
      border-bottom: 4px solid var(--primary);
      color: var(--primary);
    }
  }
}

.brand {
  height: 41px;
  width: 41px;

  position: absolute;
  left: 50%;
  margin-left: -20px !important;

  top: 50%;
  margin-top: -20px !important;
  display: block;
}

.actions {
  position: absolute;
  @include flex-element($gap: 20px);
  right: 0;
  padding-top: 24px;
}

.action {
  background-color: #fff;
  width: 36px;
  height: 36px;
  padding: 0;

  border: none;
  border-radius: 18px;

  cursor: pointer;

  font-family: F.$medium;
  line-height: 10px;
  color: var(--black);

// &:hover {
//   background-color: #aaa0;
//   box-shadow: 0px 3px 11px 0px #a8acb035;
// }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.arrow {
  border: solid var(--black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 0px 0px 2px 2px;
  transition: 300ms;

  &__down {
    transform: translateY(2px);
    transform: rotate(45deg);
  }

  &__up {
    transform: rotate(-135deg);
  }
}

.overlay {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: #39374883;
  position: fixed;
  top: 80px;
  left: 0;
}

@media screen and (max-width: 1300px) {
  .navbar {
    width: 950px;
  }
}

@media screen and (max-width: 965px) {
  nav {
    width: 100vw;
    padding-right: 15px;
  }
  .navbar {
    width: 100%;
  }
}


