@use '../../fonts' as F;

a.btn__sec {
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  color: var(--black);

  &:hover {
    background-color: var(--black);
    color: white;
  }
}

.currency {
  svg {
    width: 20px;
    height: 20px;
  }
}

.num {
  position: absolute;
  top: -2px;
  right: -4px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--black);
  padding-top: 4px;
}

.cart-list {
  background-color: white;
  position: absolute;
  width: 325px;
  padding: 32px 16px;
  right: -16px;
  margin: 0;
  top: 56px;
  z-index: 1;

  .item-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .item-btn {
    width: 100%;
    background-color: #fff;
    border: none;
    font-family: F.$regular;
    line-height: 180%;
    height: 45px;
  }

  .item-btn:hover {
    background-color: #eee;
  }
}

