@use './fonts' as F;

:root {
  --primary: #5ece7b;
  --black: #1d1f22;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--primary);
}

body {
  margin: 0;
  font-family: F.$regular;
  font-size: 18px;
  text-align: left;
  // font-family: -apple-system, Raleway, 'Segoe UI', 'Roboto', 'Oxygen',
  // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  // font-family: RalewaySemiBold;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.t {
  &__left {
    text-align: left;
  }

  &__center {
    text-align: center;
  }

  &__right{
    text-align: right;
  }

  &__caps {
    text-transform: uppercase;
  }
}

.f {
  &p {
    font-family: F.$regular;

    &-eb {
      font-family: F.$extrabold;
    }

    &-b {
      font-family: F.$bold;
    }

    &-sb {
      font-family: F.$semibold;
    }

    &-m {
      font-family: F.$medium;
    }

    &-l {
      font-family: F.$light;
    }

    &-el {
      font-family: F.$extralight;
    }

    &-t {
      font-family: F.$thin;
    }
  }

  &s {
    font-family: Roboto;

    &-c {
      font-family: Roboto\ Condensed;
    }

    &-c {
      font-family: Roboto\ Condensed;
      font-weight: bold;
    }
  }

  &-r {
    font-size: 18px;
  }

  &-xxl {
    font-size: 32px;
  }

  &-xl {
    font-size: 30px;
  }

  &-lg {
    font-size: 24px;
  }

  &-sm {
    font-size: 16px;
  }

  &-ty {
    font-size: 14px;
  }
}




// .p {
//   &-16 {
//     padding: 16px;
//   }

//   &b-40 {
//     padding-bottom: 40px;
//   }

//   &t-40 {
//     padding-top: 40px;
//   }

//   &t-80 {
//     padding-top: 80px;
//   }

// }


$spaceamounts: (0, 1, 5, 10, 16, 20, 25, 30, 35, 40, 45, 50, 80, 100);
$sides: (
  "": "all",
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right",
);

@each $space in $spaceamounts {
  @each $prefix, $value in $sides {
    $property: if($prefix == '', '', -#{$value});
    .m#{$prefix}#{$space} {
      margin#{$property}: #{$space}px;
    }
    .p#{$prefix}#{$space} {
      padding#{$property}: #{$space}px;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  // height: fit-content;

  &-g12 {
    @extend .row;
    gap: 12px;
  }

  &-g8 {
    @extend .row;
    gap: 8px;
  }

  &-g8 {
    @extend .row;
    gap: 8px;
  }

  &-g4 {
    @extend .row;
    gap: 4px;
  }
}

.col {
  display: flex;
  flex-direction: column;

  &-g24 {
    @extend .col;
    gap: 24px;
  }

  &-g12 {
    @extend .col;
    gap: 12px;
  }

  &-g8 {
    @extend .col;
    gap: 8px;
  }

  &-g4 {
    @extend .col;
    gap: 4px;
  }
}

.row.sb,
.col.sb {
  justify-content: space-between;
}

.row, .col {
  &.wrap {
    flex-wrap: wrap;
  }
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  padding: 0;
  // font-family: F.$semibold;

  // Primary button 
  &__pri {
    border: none;
    background-color: var(--primary);
    color: white;
  }

  // Secondary button
  &__sec {
    border: 1px solid var(--black);
    background-color: #fff;

    &:hover, &.sel {
      background-color: var(--black);
      color: white;
    }

    // Selected button
    &.sel:hover {
      background-color: white;
      color: var(--black);
    }
  }
}
