@use './fonts' as F;

:root {
  --primary: #5ece7b;
  --black: #1d1f22;

}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--primary);
}

body {
  margin: 0;
  font-family: F.$regular;
  // font-family: -apple-system, Raleway, 'Segoe UI', 'Roboto', 'Oxygen',
    // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // font-family: RalewaySemiBold;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}
