.image {
  padding-left: 4px;
  overflow: hidden;
  img {
    object-fit: contain;
    display: block;
    height: 100%;
    width: 100%;
  }
}

.link {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--primary);
  }
}

.cart-icon {
  fill: var(--black);
}

.attributes {
  width: 100%;
  text-align: left;
  line-height: 160%;
}

.atts {
  width: 136px;
}

.load {
  overflow: hidden;
  min-height: 190px;
}

.loading {
  position: relative;
  background-color: #f4f2f2;
  border-radius: 6px;

  &.text {
    height: 1.3rem;
    width: 100px;
    margin-bottom: 1rem;
    border-radius: 3px;
  }

  &.image {
    padding-left: 4px;
    width: 121px;
    // height: 190px;
  }
}
